<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"      
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
	  autoReload="true"      
	  internalLogLevel="Info"      
	  internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
		<variable name="logFilePath"  value="./Logs/${shortdate}.log" />
		<extensions>
			<add assembly="NLog.Web.AspNetCore"/>
		</extensions> 	
		<targets>				
			<target xsi:type="File"	name="logfile"	fileName="${logFilePath}/app.log"
					archiveFileName="${logDirectory}/app-archive/archive.{#}.log"
					layout="${message}"	
					archiveEvery="Hour"
					archiveAboveSize="10000000"				
					archiveNumbering="DateAndSequence"				
					archiveDateFormat="yyyyMMdd.HHmmss" 		
					keepFileOpen="true">	
			</target>
			<target xsi:type="Console" 				
					name="console" 				
					layout="${longdate} - [${level:upperCase=true}]: ${message}" >
			</target>		
		</targets> 
			<!-- rules to map from logger name to target -->	
			<rules>		
				<!-- LogLevel : https://github.com/NLog/NLog/wiki/Configuration-file#log-levels -->
				<logger name="*" minlevel="Trace" writeTo="console, file" />		
				<logger name="Default" minlevel="Trace" writeTo="console, file" />	
				<logger name="System" minlevel="Trace" writeTo="console, file" />	
				<logger name="ServerSystem" minlevel="Trace" writeTo="console, file" />	
			</rules>	
</nlog>